{%extends "layout.html"%}
{%block content%}
<div class="table">
    <body>            
        <h1>NFL data</h1>
        <input type="text" id="myInput" onkeyup="filter()" placeholder="Player Name:" /> 
        <button id="myButton" onclick="exportTableToCSV('table.csv')">Export HTML table to CSV file</button>   
        <table id="myTable" class="tablesorter">
          <thead>
                <tr class="table__header">
                  {% for header in headings%}
                   <!-- <th class="table__cell">{{header["field"]}}</th> -->
                   <th class="table__cell" onclick="sortTable(header)">{{header}}</th>
                  {% endfor %} 
                </tr>  
          </thead>      
          <body>
                {% for row in data%}
                    <tr class="table__row">
                        {% for cell in row %}
                          <td class="table__cell">{{cell}}</td>
                        {% endfor %}
                      </tr>
                {% endfor %}
            </body>     
        </table>
    </body>
</div>
<script type="text/javascript">
  $(document).ready(function() { $("#myTable").tablesorter(); } ); 
  // Sort the players by Total Rushing Yards(Yds), Longest Rush(Lng) and Total Rushing Touchdowns(TD)
  $(document).ready(function() { $("#myTable").tablesorter( {sortList: [[5,0], [9,0], [8,0]]} ); } );

</script>

<script>
    function filter() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }


    function exportTableToCSV(filename) {
        var csv = [];
        var rows = document.querySelectorAll("table tr");

        for (var i = 0; i < rows.length; i++) {
            // Don't add the row to the csv if it's hidden due to filtering.
            if (rows[i].style.display === "none") continue;
            
            var row = [], cols = rows[i].querySelectorAll("td, th");

            for (var j = 0; j < cols.length; j++) 
                row.push(cols[j].innerText);

            csv.push(row.join(","));        
        }

        // Download CSV file
        downloadCSV(csv.join("\n"), filename);
    }

    function downloadCSV(csv, filename) {
        var csvFile;
        var downloadLink;

        // CSV file
        csvFile = new Blob([csv], {type: "text/csv"});

        // Download link
        downloadLink = document.createElement("a");

        // File name
        downloadLink.download = filename;

        // Create a link to the file
        downloadLink.href = window.URL.createObjectURL(csvFile);

        // Hide download link
        downloadLink.style.display = "none";

        // Add the link to DOM
        document.body.appendChild(downloadLink);

        // Click download link
        downloadLink.click();
    }
    </script>
{%endblock%}
